@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url('/Inter.woff2') format('woff2');
}

@theme {
  --color-bg: #1F2937;
  --color-primary: #F4F4F5;
}

:root {
  font-family: 'Inter', system-ui;
}

html,
body {
  color-scheme: dark;
  height: 100%;
  width: 100%;
  margin: 0;
}
